
body {
    background-color: #fff;
    scroll-behavior: smooth;
}



header, footer, .cartCounter {
    text-align: center;
}

li, a {
    color: #000;
}

ul {
    list-style: none; 

    li {


        a {
            text-decoration: none;

        }
    }
  }



